<h1>OpenInsta</h1>
<%= link_to "New Post", new_post_path %>

<div class="posts-wrapper">
  <% @posts.each do |p| %>
      <div class="post">
        <div class="post-head">
          <div class="name">Anand</div>
        </div>
        <div class="image.center-block">
          <%= link_to (image_tag p.image,class: "img-responsive" ),post_path(p) %>
        </div>
        <%= p.caption %>
      </div>
  <% end %>
</div>