
<div class="posts-wrapper">
  <div class="post">
    <div class="post-head">
      <div class="name">Anand</div>
    </div>
    <div class="image.center-block">
      <%= link_to (image_tag @post.image.url(:medium),class: "img-responsive" ),"" %>
    </div>
    <%= @post.caption %>
    <div class="text-center">
      <%= link_to "Cancel",posts_path %>|
      <%= link_to "Edit Post", edit_post_path(@post) %>
    </div>
  </div>
</div>